<!--@if (["ROLE_VENDEUR","ROLE_CHEF_RAYON"].indexOf(auth.role!) != -1) {-->
@if (auth.role == "ROLE_VENDEUR" || auth.role == "ROLE_CHEF_RAYON") {
  <button mat-raised-button routerLink="/ajout-produit">
    Ajouter un produit
  </button>
}

<div class="row">

  @for (produit of produits; track $index) {
    <div class="col-6 mb-4">

      <mat-card appearance="outlined" [class.occasion]="produit.etat.id == 2">
        <mat-card-header>
          <mat-card-title>{{ produit.nom }}</mat-card-title>
          <mat-card-subtitle>
            <span class="code">{{ produit.code }}</span>

            @for (etiquette of produit.etiquettes; track $index) {
              <span class="etiquette" [ngStyle]="{backgroundColor: etiquette.couleur}">
                {{ etiquette.nom }}
              </span>
            }

          </mat-card-subtitle>
        </mat-card-header>
        <img ImgSecured mat-card-image src="http://localhost:8080/produit/image/{{produit.id}}">+
        <mat-card-content>
          <p>
            {{ produit.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          @if (auth.role == "ROLE_VENDEUR" || auth.role == "ROLE_CHEF_RAYON") {
            <button mat-button [routerLink]="['/modifier-produit',produit.id]">Editer</button>
            <button mat-button>Supprimer</button>
          }
          <button mat-button>Acheter</button>
        </mat-card-actions>
      </mat-card>

    </div>
  }

</div>
