<form [formGroup]="formulaire" (ngSubmit)="onAjoutProduit()">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input formControlName="nom" matInput placeholder="Ex. PC Asus 9874">

    @if (formulaire.get('nom')?.hasError('required')) {
      <mat-error>Le nom est requis</mat-error>
    } @else if (formulaire.get('nom')?.hasError('minlength')) {
      <mat-error>Le nom doit comporter au moins 3 caractères</mat-error>
    } @else if (formulaire.get('nom')?.hasError('maxlength')) {
      <mat-error>Le nom doit comporter au moins 3 caractères</mat-error>
    }

  </mat-form-field>

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input formControlName="code" matInput placeholder="ASU458">
    <mat-error>Le code est requis</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input formControlName="prix" matInput type="number">

    @if (formulaire.get('prix')?.hasError('required')) {
      <mat-error>Le prix est requis</mat-error>
    } @else if (formulaire.get('prix')?.hasError('min')) {
      <mat-error>Le prix doit être au minimum de 10 centimes</mat-error>
    }

  </mat-form-field>

  <mat-form-field>
    <mat-label>Etat</mat-label>
    <mat-select formControlName="etat" [compareWith]="compareId">
      @for (etat of etats; track $index) {
        <mat-option [value]="etat">{{ etat.nom }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Etiquettes</mat-label>
    <mat-select formControlName="etiquettes" multiple [compareWith]="compareId">
      @for (etiquette of etiquettes; track $index) {
        <mat-option [value]="etiquette">
          {{ etiquette.nom }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-file-chooser></app-file-chooser>

  <button type="submit" mat-raised-button>
    <mat-icon [fontIcon]="produitEdite ? 'edit' : 'add'"></mat-icon>
    {{ produitEdite ? "Editer le produit" : "Ajouter le produit" }}
  </button>

</form>
